@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;1,300;1,400;1,500&display=swap');


/*!------reset-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*!------header-----*/
.presentacion{
    display: flex;
    width: 100%;
    height: 90vh;
    background-image: url("../img/img-7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.presentacion h1{
    font-size: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    position: relative;
    top: 10vh;
    left: 30%;
} 
.presentacion h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.939);
    position: relative;
    top: 15vh;
    left: 40%;
}
.presentacion div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20vh;
    left: 5%;
}
.presentacion div a{
    text-decoration: none;
    color: black; 
    background-color: rgba(255, 255, 255, 0.341);
    padding: 10px;
    margin: 5px 5px 5px 5px;
}
.logo-barra{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 50px 30px;
    align-items: center;
}
.logo-barra img{
    width: 180px;
    height: 90px;
}
.logo-barra nav{
    margin-right: 10vh;
}
.barra-navegacion li{
    display: inline-block;
    list-style: none;
}
.barra-navegacion li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.441);
    font-family: 'Open Sans', sans-serif;
    margin: 10px 10px 10px 10px;
}


/*!------main-----*/
main{
    font-family: 'Open Sans', sans-serif;
}
.imagenes-1 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.imagenes-1 div p{
    width: 50vh;
    font-weight: 100;
    margin-left: 20vh;
}
.imagenes-1 div img{
    width: 100vh;
    height: 333px;
    margin-right: 5vh;
}
.video-introductorio div{
    display: flex;
}
.video-introductorio div iframe{
    width: 100%;
    height: 80vh;
    margin-bottom: 50px;
}
.imagenes-2 div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.imagenes-2 div img{
    width: 600px;
    height: 333px;
}
.imagenes-3 div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.imagenes-3 div img{
    width: 600px;
    height: 333px;
}

/*!------footer-----*/
footer{
    background-color: rgba(0, 0, 0, 0.081);
}
.redes {
    display: flex;
    justify-content: center;
}
.redes img{
    width: 30px;
    height: 30px;
    margin: 20px 10px 20px 10px;
    opacity: .2 ;
    
}
.scroll{
    position: fixed;
    bottom: 10vh;
    right: 10vh;
}
.scroll img{
    width: 40px;
    height: 40px;
    opacity: .4;
}

/*!----------------------------------------contacto------------------------------------------*/
.hoja-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.hoja-contacto h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.372);
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.372);
    margin-bottom: 70px;
}
.formulario input{
    border: 1px solid rgba(0, 0, 0, 0.166);
    width: 70vh;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.372);
}
.formulario label{
    margin: 10px 0px 10px 0px;
}
.nombre{
    display: flex;
    flex-direction: column; 
}
.correo{
    display: flex;
    flex-direction: column; 
}
.de-donde-sos{
    display: flex;
    flex-direction: column;
}
.localidades{
    border: 1px solid rgba(0, 0, 0, 0.166);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.649);  
    width: 70vh;
    height: 30px;
}
.consulta{
    display: flex;
    flex-direction: column;
}
.consulta textarea{
    width: 70vh;
    height: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.649);  
    border: 1px solid rgba(0, 0, 0, 0.166);
    margin-bottom: 10px;
}
.boton-enviar input{
    width: 80px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.166);
    margin: 10px 10px 10px 0px;
    padding: 5px 5px 5px 5px;
}