//Variables de colores

$color-principal: black; 
$color-secundario: rgba(255, 255, 255, 0.553);
$color-terciario: rgba(0, 0, 0, 0.372);
$color-bordes: rgba(0, 0, 0, 0.166);

//Mixin de justify-content

@mixin flex ($flex, $justify){
    display: $flex;
    justify-content: $justify;
}

//Extend de flex-direction

%flex-column{
    display: flex;
    flex-direction: column;
}

%burbujas-servicios{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.305);
    border-radius: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.415);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.312);
    transition-property: padding;
    transition-duration: 1s;
}



